
.slideshow {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    height: 26rem;
    /* outline: red solid; */
    /* width: 300px;
    height: 150px; */

    /* display: flex; */
    background-color: black;
}
.slideshow::after {
    z-index: 0;
    content: 'Loading...';
    color: white;
    /* width: 4rem;
    height: 4rem; */
    /* border: solid .5rem white; */
    /* border-radius: 50%; */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    /* background: linear-gradient(transparent 0% 40%, white 40% 60%, transparent 60% 100%); */
}
.slideshow__img {
    z-index: 1;
    position: relative;
    display: block;
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 50% 50%;
    background-size: cover;
}

.slideshow__left-btn,
.slideshow__right-btn {
    z-index: 2;
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    cursor: pointer;
    height: 3rem;
    aspect-ratio:  80 / 47;
    border: none;
    background: transparent;
}
.slideshow__left-btn > img,
.slideshow__right-btn > img {
    width: 100%;
}

.slideshow__left-btn {
    rotate: 270deg;
    left: 1rem;
}
.slideshow__right-btn {
    rotate: 90deg;
    right: 1rem;
}
.slideshow__indicator {
    z-index: 2;
    position: absolute;
    bottom: 1rem;
    translate: 50% 0%;
    right: 50%;
    color: white;
}

@media (max-width: 600px) {
    .slideshow {
        height: 18rem;
    }
    .slideshow__left-btn,
    .slideshow__right-btn {
        height: 1.5rem;
    }
    .slideshow__left-btn {
        left: .5rem;
    }
    .slideshow__right-btn {
        right: .5rem;
    }
}