@import '../../styles/variables';

.slideshow {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    height: 26rem;
    background-color: black;

    &__panel {
        z-index: 1;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        & > * {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%; 
            background-position: 50% 50%;

            transition: opacity .2s ease-in-out;

            & > img {
                width: 100%;
                height: 100%; 
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__left-btn,
    &__right-btn {
        z-index: 2;
        position: absolute;
        top: 50%;
        translate: 0% -50%;
        cursor: pointer;
        height: 3rem;
        aspect-ratio:  80 / 47;
        border: none;
        background: transparent;

        &:hover {
            scale: 1.075;
        }
    }

    &__left-btn > img,
    &__right-btn > img {
        width: 100%;
        height: 100%;
    }

    &__left-btn {
        rotate: 270deg;
        left: 1rem;
    }

    &__right-btn {
        rotate: 90deg;
        right: 1rem;
    }

    &__indicator {
        z-index: 2;
        position: absolute;
        bottom: 1rem;
        translate: 50% 0%;
        right: 50%;
        color: white;
    }
}


@media (max-width: $mobile-break-point) {
    .slideshow {
        height: 18rem;

        &__left-btn,
        &__right-btn {
            height: 1.5rem;
        }
        &__left-btn {
            left: .5rem;
        }
        &__right-btn {
            right: .5rem;
        }
    }
}