@import '../../styles/variables';

.collapsible {
    margin: 1rem 0;
    background-color: var(--container-background-color);
    border-radius: var(--border-radius-medium);
    font-size: 1.125rem;

    position: relative;

    &__header,
    &__panel {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    &__header {
        padding-top: .8em;
        padding-bottom: .8em;

        width: 100%;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;

        border-radius: var(--border-radius-medium);
        border: none;

        background-color: var(--primary-color);
        color: white;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        cursor: pointer;

        &::after {
            content: "";
            rotate: 180deg;    
            width: 1.8rem;
            aspect-ratio: 1 / .5;
            background-image: url('./arrow.svg');
            background-size: 100% 100%;

            transition: all .2s ease-in-out;
        }
    }

    &__panel {
        display: block;
        color: var(--primary-color);
        font-weight: 400;

        transition: all .2s ease-in-out;
        overflow: hidden;
    }

    [open=""] &__header {
        &::after {
            rotate: 360deg;       
        }
    }
    &:not([open=""]) &__panel {
        height: 0;
    }

    &--small-border {
        border-radius: var(--border-radius-small);
    }
    &--small-border &__header {
        border-radius: var(--border-radius-small);
    }
}


@media (max-width: $mobile-break-point) {
    .collapsible {
        border-radius: var(--border-radius-small);

        &__header {
            font-size: .8125rem;
            padding-top: .6em;
            padding-bottom: .6em;

            border-radius: var(--border-radius-small);

            &::after {   
                width: .9rem;
            }
        }
        &__panel {
            font-size: .75rem;
        }
    }
}