.collapsible {
    margin: 1rem 0;
    background-color: var(--container-background-color);
}

.collapsible,
.collapsible > .summary {
    border-radius: var(--border-radius-medium);
}

.collapsible > .summary,
.collapsible > .content {
    padding: .5rem 1rem;
}

.collapsible > .summary {
    background-color: var(--primary-color);
    color: white;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
}
.collapsible > .summary::after {
    content: url('../../assets/images/arrow.svg');
    rotate: 180deg;
}
.collapsible[open] > .summary::after {
    rotate: 00deg;
}
.collapsible > .content {
    color: var(--primary-color);
    font-weight: 400;
}

.collapsible.big-summary > .summary {
    padding-top: .8rem;
    padding-bottom: .8rem;
}

@media (max-width: 600px) {
    .collapsible > .summary {
        font-size: .8125rem;
    }
    .collapsible > .content {
        font-size: .75rem;
    }
}