@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-top: 3rem;
    margin-bottom: 4rem;

    &__nav ul {
        
        list-style: none;
        display: flex;
        gap: 3rem;
    }

    &__nav a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.5rem;

        &.active {
            text-decoration: underline;
        }
    }
}

@media (max-width: $mobile-break-point) {

    .header {
        margin-top: 1rem;
        margin-bottom: 1rem;

        &__logo {
            width: 10rem;
        }
        &__nav ul {
            gap: 1.5rem;
        }
        &__nav a {
            font-size: 0.75rem;
            text-transform: uppercase;
        }  
    }
}