@import '../../styles/variables';

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    margin-top: 3em;
    margin-bottom: 4em;

    &__logo {
        width: 13rem;
    }

    &__nav ul {
        
        list-style: none;
        display: flex;
        gap: 3em;

        padding: 0;
    }

    &__nav a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.5rem;

        &.active {
            text-decoration: underline;
        }
    }
}

@media (max-width: $mobile-break-point) {

    .header {
        margin-top: 1em;
        margin-bottom: 1em;

        &__logo {
            width: 9rem;
        }
        &__nav ul {
            gap: 1.5em;
        }
        &__nav a {
            font-size: 0.75rem;
            text-transform: uppercase;
        }  
    }
}