@import '../../styles/variables';

.banner {
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2em auto;
    min-height: 14rem;
    min-height: fit-content;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;


    &::after { /* Text backdrop */
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: brightness(75%);
        z-index: 1;
        pointer-events: none;   
    }
    &__title {
        position: relative;
        z-index: 2;
        text-align: center;
        font-weight: 400;
        font-size: 3rem;
        margin: 1.5em;
    }
    & > picture {
        
        &:not(:only-child) {            
            position: absolute;
            inset: 0;
            z-index: 0;

            & > img {
                min-height: unset;
            }
        }
        
        & > img {
            min-height: 14rem;

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }
}

@media (max-width: $mobile-break-point) {
    .banner {
        border-radius: var(--border-radius-small);

        &__title {
            font-size: 1.5rem;
            text-align: left;
            margin: 1.25em .75em;
        }   
    }
}