@import '../../styles/variables';

.banner {
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2em auto;
    min-height: 14rem;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after { /* Text backdrop */
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: brightness(75%);
        z-index: 1;
        pointer-events: none;   
    }
    &__title {
        position: relative;
        z-index: 2;
        text-align: center;
        font-weight: 400;
        font-size: 3rem;
        margin: 1.5em;
    }
}

@media (max-width: $mobile-break-point) {
    .banner {
        border-radius: var(--border-radius-small);

        &__title {
            font-size: 1.5rem;
            text-align: left;
            margin: 1.25em .75em;
        }   
    }
    .banner:not(:empty) {
        min-height: fit-content;
    }
}